# OS X
.DS_Store*
Icon?
._*

bulk/uploads

# env
.env
*.env
./.env

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
.directory
*~

# JetBrains
.idea

# npm
node_modules
package-lock.json
*.log
*.gz


# Coveralls
coverage

# Benchmarking
benchmarks/graphs